body {
  transition: all 2s ease-in-out !important;
}

.btn {
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 20px !important;
  width: 100px !important;
  border: 1px solid !important;
  border-radius: 30px !important;
}

.day {
  color: white !important;
  position: relative !important;
  overflow: hidden !important;
}
.day::before {
  content: "";
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  background-color: white !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  transform: translateX(-200px) !important;
  transition: all 900ms ease-in-out !important;
}
.day:hover::before {
  transform: translateX(0) !important;
}
.day:hover {
  cursor: pointer !important;
  color: black !important;
}
.night {
  color: black !important;
  position: relative !important;
  overflow: hidden !important;
}
.night::before {
  content: "";
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  background-color: black !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  transform: translateX(-200px) !important;
  transition: all 900ms ease-in-out !important;
}
.night:hover::before {
  transform: translateX(0) !important;
}
.night:hover {
  cursor: pointer !important;
  color: white !important;
}
